.CreditCard {
  border: 1px solid gray;
  height: 180px;
  width: 300px;
  margin: 30px;
  flex-shrink: 0;
}

.CreditCard__type {
}

.CreditCard__name {
}

.CreditCard__number {
}
.CreditCard__expiration {
}
