.CreditCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 280px;
  margin: 20px;
  flex-shrink: 0;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  background: url(map.svg) no-repeat top left;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.8);
}

.CreditCard__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  fill: white;
}

.CreditCard__type {
  position: absolute;
  right: 16px;
  top: 16px;
  font-style: italic;
}

.CreditCard__name {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-size: 0.8rem;
  font-weight: 300;
}

.CreditCard__number {
  font-family: monospace;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.CreditCard__number-section {
  margin: 8px;
}
.CreditCard__expiration {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 0.8rem;
  font-weight: 300;
}

.CreditCard--selected {
  transform: scale(1.15);
  box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.8);
}
