body {
  background: linear-gradient(white, lavender);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body,
input {
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
