.Phone {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 800px;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
